html,
body,
#root {
  height: 100%; /* Ensure the root and body are full height */
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 90%;
  /* height: 70vh; */
  margin: 0 auto;
  margin-top: 20px;
  height: auto;
}

.full-height-table {
  height: 100%; /* Full height table */
  border: 1px solid #dee2e6;
}

.header-background {
  background-color: #f4f4f9; /* Light grayish background */
}

.table-container .table th,
.table-container .table td {
  vertical-align: middle; /* Vertically center the text in the table cells and headers */
}

.custom-dropdown .dropdown-toggle {
  background-color: transparent !important; /* Ensures no background color */
  color: #007bff !important; /* Bootstrap primary color */
  border: none;
}

.custom-dropdown .dropdown-menu {
  background-color: white; /* Sets dropdown background to white */
  border: none;
}

.custom-dropdown .dropdown-item {
  color: #007bff !important; /* Ensures text color is primary */
  border: none;
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
  background-color: #e9ecef; /* Light grey background on hover/focus */
  color: #007bff; /* Keeps text color primary */
}
