html,
body,
#root {
  height: 100%; /* Ensure the root and body are full height */
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 90%;
  /* height: 70vh; */
  margin: 0 auto;
  margin-top: 20px;
  height: auto;
}

.full-height-table {
  height: 100%; /* Full height table */
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.header-background {
  background-color: #f4f4f9; /* Light grayish background */
}

.table-container .table th,
.table-container .table td {
  vertical-align: middle; /* Vertically center the text in the table cells and headers */
}

.custom-dropdown .dropdown-toggle {
  background-color: transparent !important; /* Ensures no background color */
  color: #007bff !important; /* Bootstrap primary color */
  border: none;
}

.custom-dropdown .dropdown-menu {
  background-color: white; /* Sets dropdown background to white */
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.custom-dropdown .dropdown-item {
  color: #007bff !important; /* Ensures text color is primary */
  border: none;
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
  background-color: #e9ecef; /* Light grey background on hover/focus */
  color: #007bff; /* Keeps text color primary */
}

.borderless-input {
  border: none !important;
  background-color: transparent !important;
  pointer-events: none;
  color: #495057; /* This is to maintain the default text color */
}

.no-border {
  border: none !important; /* Use !important to ensure override */
  background-color: transparent; /* Optional: to make background transparent */
}

/* App.css */
.modal-header-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; /* Reduces padding inside the header */
}

.modal-header-custom .modal-title {
  flex-grow: 1;
  margin-right: 2rem; /* Ensures some space between title and form */
}

.no-border {
  border: none;
  box-shadow: none; /* Removes box shadow if any */
  background-color: transparent; /* Makes the background transparent */
  max-height: 30px; /* Keeps the input small and tidy */
}

/* App.css */
.modal-header-custom .form-row {
  align-items: center; /* Aligns items vertically centered */
}

.no-border {
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0; /* Removes margin to fit better in the header */
}

.form-label-custom {
  margin-bottom: 0; /* Removes bottom margin for labels */
  white-space: nowrap; /* Prevents label from wrapping */
}

.modal-header .close {
  color: #007bff; /* Bootstrap "info" blue, change as needed */
  opacity: 1; /* Ensures visibility if using lighter colors */
}

/* For hover effects, if desired */
.modal-header .close:hover {
  color: #0056b3; /* Darker blue on hover, adjust as needed */
}

.my-modal .modal-header .close {
  color: #007bff; /* Example using a custom class for specific targeting */
}

.table-container .full-height-table thead th {
  background-color: #f4f4f9; /* Set the desired green color here */
  color: black; /* Optional: Set text color to white for contrast */
}

.table-container .full-height-table {
  border-radius: 12px; /* Apply rounded corners to the table */
}

.no-border-button {
  border: none;
}
